# Notebook 1 Ejemplos de Clase

### Iniciar Sesión Spark (Intelligence)

> If we are running this on google colab, we can run the following to eventually interact with our Spark UI.

* Begin by installing some pip packages and the java development kit.

In [ ]:
!pip install pyspark --quiet
!pip install -U -q PyDrive --quiet 
!apt install openjdk-8-jdk-headless &> /dev/null

     |████████████████████████████████| 281.4 MB 38 kB/s
     |████████████████████████████████| 199 kB 46.5 MB/s
  Building wheel for pyspark (setup.py) ... done

* Then set the java environmental variable

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

* Then connect to a SparkSession, setting the spark ui port to `4050`.

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("civComplaints") \
    .config("spark.ui.port", "4050") \
    .getOrCreate()

* Then we need to install ngrok which will allow us to place our local spark ui on the web.

In [ ]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip &> /dev/null
!unzip ngrok-stable-linux-amd64.zip &> /dev/null
get_ipython().system_raw('./ngrok http 4050 &')

* And finally we get a link our Spark UI

In [ ]:
!curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

https://4ea2-35-188-253-74.ngrok.io

### Lectura del archivo con Spark

In [ ]:
import pandas as pd

In [ ]:
ruta1 = pd.read_csv('/content/winter.csv').astype(str) 
myDF1= spark.createDataFrame(ruta1)
myDF1.createOrReplaceTempView("winter")
myDF1.printSchema()
myDF1.show()

root
 |-- Year: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Sport: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Athlete: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Event: string (nullable = true)
 |-- Medal: string (nullable = true)

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|    City|    Sport|Discipline|             Athlete|Country|Gender|          Event| Medal|
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix| Biathlon|  Biathlon|         BERTHET, G.|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|      MANDRILLON, C.|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon| MANDRILLON, Maurice|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|     VANDELLE, André|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|AUFDENBLATTEN, Adolf|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|     JULEN, Alphonse|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|         JULEN, Ant.|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|         VAUCHER, D.|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|        BREMER, V.E.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon|       ESKELINEN, A.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon|        HIRVONEN, H.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon| LAPPALAINEN, Martti|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix|Bobsleigh| Bobsleigh|      MORTIAUX, René|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|     MULDER, Charles|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|VAN DEN BROECK, Paul|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh| VERSCHUEREN, Victor|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|     WILLIEMS, Henri|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|       NEVEU, Alfred|    SUI|   Men|       Four-Man|  Gold|
|1924|Chamonix|Bobsleigh| Bobsleigh|    SCHERRER, Eduard|    SUI|   Men|       Four-Man|  Gold|
|1924|Chamonix|Bobsleigh| Bobsleigh|    SCHLÄPPI, Alfred|    SUI|   Men|       Four-Man|  Gold|
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:
ruta2 = pd.read_csv('/content/dictionary.csv').astype(str) 
myDF2= spark.createDataFrame(ruta2)
myDF2.createOrReplaceTempView("dictionary")
myDF2.printSchema()
myDF2.show()

root
 |-- Country: string (nullable = true)
 |-- Code: string (nullable = true)
 |-- Population: string (nullable = true)
 |-- GDP per Capita: string (nullable = true)

+-------------------+----+-----------+----------------+
|            Country|Code| Population|  GDP per Capita|
+-------------------+----+-----------+----------------+
|        Afghanistan| AFG| 32526562.0|594.323081219966|
|            Albania| ALB|  2889167.0|3945.21758150914|
|            Algeria| ALG| 39666519.0|4206.03123244958|
|    American Samoa*| ASA|    55538.0|             nan|
|            Andorra| AND|    70473.0|             nan|
|             Angola| ANG| 25021974.0|4101.47215182964|
|Antigua and Barbuda| ANT|    91818.0|13714.7319616988|
|          Argentina| ARG| 43416755.0|13431.8783398577|
|            Armenia| ARM|  3017712.0|3489.12768956995|
|             Aruba*| ARU|   103889.0|             nan|
|          Australia| AUS| 23781169.0|56310.9629933721|
|            Austria| AUT|  8611088.0| 43774.985173612|
|         Azerbaijan| AZE|  9651349.0|5496.34464026248|
|            Bahamas| BAH|   388019.0|22817.2308572518|
|            Bahrain| BRN|  1377237.0|22600.2140981035|
|         Bangladesh| BAN|160995642.0|1211.70153057661|
|           Barbados| BAR|   284215.0|15429.3404640853|
|            Belarus| BLR|  9513000.0|5740.45649479562|
|            Belgium| BEL| 11285721.0|40324.0277657215|
|             Belize| BIZ|   359287.0|4878.72126724745|
+-------------------+----+-----------+----------------+
only showing top 20 rows

### Ejemplos de clase

In [ ]:
# Ejemplos de clase
spark.sql('''SELECT * 
            FROM winter''').show()

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|    City|    Sport|Discipline|             Athlete|Country|Gender|          Event| Medal|
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix| Biathlon|  Biathlon|         BERTHET, G.|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|      MANDRILLON, C.|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon| MANDRILLON, Maurice|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|     VANDELLE, André|    FRA|   Men|Military Patrol|Bronze|
|1924|Chamonix| Biathlon|  Biathlon|AUFDENBLATTEN, Adolf|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|     JULEN, Alphonse|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|         JULEN, Ant.|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|         VAUCHER, D.|    SUI|   Men|Military Patrol|  Gold|
|1924|Chamonix| Biathlon|  Biathlon|        BREMER, V.E.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon|       ESKELINEN, A.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon|        HIRVONEN, H.|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix| Biathlon|  Biathlon| LAPPALAINEN, Martti|    FIN|   Men|Military Patrol|Silver|
|1924|Chamonix|Bobsleigh| Bobsleigh|      MORTIAUX, René|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|     MULDER, Charles|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|VAN DEN BROECK, Paul|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh| VERSCHUEREN, Victor|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|     WILLIEMS, Henri|    BEL|   Men|       Four-Man|Bronze|
|1924|Chamonix|Bobsleigh| Bobsleigh|       NEVEU, Alfred|    SUI|   Men|       Four-Man|  Gold|
|1924|Chamonix|Bobsleigh| Bobsleigh|    SCHERRER, Eduard|    SUI|   Men|       Four-Man|  Gold|
|1924|Chamonix|Bobsleigh| Bobsleigh|    SCHLÄPPI, Alfred|    SUI|   Men|       Four-Man|  Gold|
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 2
spark.sql('SELECT DISTINCT City, Year FROM winter').show(100, truncate= False)

+----------------------+----+
|City                  |Year|
+----------------------+----+
|Cortina d'Ampezzo     |1956|
|Lake Placid           |1980|
|Garmisch Partenkirchen|1936|
|Innsbruck             |1964|
|Chamonix              |1924|
|Sapporo               |1972|
|Squaw Valley          |1960|
|St.Moritz             |1928|
|Calgary               |1988|
|St.Moritz             |1948|
|Albertville           |1992|
|Grenoble              |1968|
|Innsbruck             |1976|
|Oslo                  |1952|
|Lillehammer           |1994|
|Sarajevo              |1984|
|Lake Placid           |1932|
|Turin                 |2006|
|Vancouver             |2010|
|Sochi                 |2014|
|Salt Lake City        |2002|
|Nagano                |1998|
+----------------------+----+

In [ ]:
# Ejemplos de clase 2
spark.sql('SELECT DISTINCT City, Year FROM winter').show(truncate= False)

+----------------------+----+
|City                  |Year|
+----------------------+----+
|Cortina d'Ampezzo     |1956|
|Lake Placid           |1980|
|Garmisch Partenkirchen|1936|
|Innsbruck             |1964|
|Chamonix              |1924|
|Sapporo               |1972|
|Squaw Valley          |1960|
|St.Moritz             |1928|
|Calgary               |1988|
|St.Moritz             |1948|
|Albertville           |1992|
|Grenoble              |1968|
|Innsbruck             |1976|
|Oslo                  |1952|
|Lillehammer           |1994|
|Sarajevo              |1984|
|Lake Placid           |1932|
|Turin                 |2006|
|Vancouver             |2010|
|Sochi                 |2014|
+----------------------+----+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 3
spark.sql('''SELECT Year AS `Año`, City AS Sede, Athlete AS Deportista, Country AS `País`
            FROM winter
''').show(100, truncate= False)

+----+--------+------------------------------+----+
|Año |Sede    |Deportista                    |País|
+----+--------+------------------------------+----+
|1924|Chamonix|BERTHET, G.                   |FRA |
|1924|Chamonix|MANDRILLON, C.                |FRA |
|1924|Chamonix|MANDRILLON, Maurice           |FRA |
|1924|Chamonix|VANDELLE, André               |FRA |
|1924|Chamonix|AUFDENBLATTEN, Adolf          |SUI |
|1924|Chamonix|JULEN, Alphonse               |SUI |
|1924|Chamonix|JULEN, Ant.                   |SUI |
|1924|Chamonix|VAUCHER, D.                   |SUI |
|1924|Chamonix|BREMER, V.E.                  |FIN |
|1924|Chamonix|ESKELINEN, A.                 |FIN |
|1924|Chamonix|HIRVONEN, H.                  |FIN |
|1924|Chamonix|LAPPALAINEN, Martti           |FIN |
|1924|Chamonix|MORTIAUX, René                |BEL |
|1924|Chamonix|MULDER, Charles               |BEL |
|1924|Chamonix|VAN DEN BROECK, Paul          |BEL |
|1924|Chamonix|VERSCHUEREN, Victor           |BEL |
|1924|Chamonix|WILLIEMS, Henri               |BEL |
|1924|Chamonix|NEVEU, Alfred                 |SUI |
|1924|Chamonix|SCHERRER, Eduard              |SUI |
|1924|Chamonix|SCHLÄPPI, Alfred              |SUI |
|1924|Chamonix|SCHLÄPPI, Heinrich            |SUI |
|1924|Chamonix|ARNOLD, Thomas                |GBR |
|1924|Chamonix|BROOME, Ralpf                 |GBR |
|1924|Chamonix|RICHARDSON, Alexander         |GBR |
|1924|Chamonix|SOHER, Rodney                 |GBR |
|1924|Chamonix|ALDEERT, H.                   |FRA |
|1924|Chamonix|ANDRE, Georges                |FRA |
|1924|Chamonix|BENEDIC                       |FRA |
|1924|Chamonix|CANIVET, P.                   |FRA |
|1924|Chamonix|COURNOLLET, F.                |FRA |
|1924|Chamonix|PLANQUE, R.                   |FRA |
|1924|Chamonix|AIKMAN, T.                    |GBR |
|1924|Chamonix|ASTLEY, D.-G.                 |GBR |
|1924|Chamonix|BROWN, V.                     |GBR |
|1924|Chamonix|COUSIN, R.                    |GBR |
|1924|Chamonix|JACKSON, V.-K.                |GBR |
|1924|Chamonix|MC LEOD, J.                   |GBR |
|1924|Chamonix|MURRAY, T.-B.                 |GBR |
|1924|Chamonix|WELSH, R.                     |GBR |
|1924|Chamonix|AHLEN, J.P.                   |SWE |
|1924|Chamonix|KRONLUND, Carl Augustus Verner|SWE |
|1924|Chamonix|ODLUND, T.-M.                 |SWE |
|1924|Chamonix|PETERSEN, C.-W.               |SWE |
|1924|Chamonix|PETTERSSON, C.-A.-F.          |SWE |
|1924|Chamonix|SEVERIN, E.-O.                |SWE |
|1924|Chamonix|WAHLBERG, K.-E.               |SWE |
|1924|Chamonix|WETTERSTROM, V.-E.            |SWE |
|1924|Chamonix|ANDERSON, William             |GBR |
|1924|Chamonix|BOULDEN, C.-B.                |GBR |
|1924|Chamonix|CARR-HARRIS, Louis Howland    |GBR |
|1924|Chamonix|CARRUTHERS, Colin Gordon      |GBR |
|1924|Chamonix|CARRUTHERS, Eric Dudley       |GBR |
|1924|Chamonix|CLARKSON, Guy E.              |GBR |
|1924|Chamonix|CUTHBERT, Ross George         |GBR |
|1924|Chamonix|HOLMES, George                |GBR |
|1924|Chamonix|JUKES, Hamilton               |GBR |
|1924|Chamonix|PATTON, B.-N.                 |GBR |
|1924|Chamonix|PITBLADO, Edward              |GBR |
|1924|Chamonix|SEXTON, Blane Nathaniel       |GBR |
|1924|Chamonix|CAMERON, Jack                 |CAN |
|1924|Chamonix|COLLETT, Ernest J.            |CAN |
|1924|Chamonix|MAC CAFFERY, Albert           |CAN |
|1924|Chamonix|MAC MUNN, Harold              |CAN |
|1924|Chamonix|MUNRO, Duncan                 |CAN |
|1924|Chamonix|RAMSAY, W.-Beattie            |CAN |
|1924|Chamonix|SLATER, Cyril                 |CAN |
|1924|Chamonix|SMITH, Reginald               |CAN |
|1924|Chamonix|WATSON, Harry                 |CAN |
|1924|Chamonix|ABEL, Clarence John           |USA |
|1924|Chamonix|DRURY, Herbert L.             |USA |
|1924|Chamonix|GERAN, N.                     |USA |
|1924|Chamonix|LACROIX, Alphonse             |USA |
|1924|Chamonix|LANGLEY, John Arthur          |USA |
|1924|Chamonix|LYONS, John Sharkey           |USA |
|1924|Chamonix|MAC CARTHY, Justin            |USA |
|1924|Chamonix|RICE, Willard                 |USA |
|1924|Chamonix|SMALL, Irving Wheeler         |USA |
|1924|Chamonix|SYNNOTT, Francis Allen        |USA |
|1924|Chamonix|GAUTSCHI, Georges             |SUI |
|1924|Chamonix|GRAFSTRÖM, Gillis             |SWE |
|1924|Chamonix|BÖCKL, Willy                  |AUT |
|1924|Chamonix|MUCKELT, Ethel                |GBR |
|1924|Chamonix|SZABO-PLANK, Herma            |AUT |
|1924|Chamonix|LOUGHRAN, Beatrix             |USA |
|1924|Chamonix|BRUNET, Andrée                |FRA |
|1924|Chamonix|BRUNET, Pierre                |FRA |
|1924|Chamonix|BERGER, Alfred                |AUT |
|1924|Chamonix|ENGELMANN, Helene             |AUT |
|1924|Chamonix|JAKOBSSON, Ludowika           |FIN |
|1924|Chamonix|JAKOBSSON, Walter             |FIN |
|1924|Chamonix|LARSEN, Roald                 |NOR |
|1924|Chamonix|SKUTNABB, Julius              |FIN |
|1924|Chamonix|THUNBERG, Clas                |FIN |
|1924|Chamonix|MOEN, Sigurd                  |NOR |
|1924|Chamonix|THUNBERG, Clas                |FIN |
|1924|Chamonix|LARSEN, Roald                 |NOR |
|1924|Chamonix|LARSEN, Roald                 |NOR |
|1924|Chamonix|THUNBERG, Clas                |FIN |
|1924|Chamonix|SKUTNABB, Julius              |FIN |
|1924|Chamonix|THUNBERG, Clas                |FIN |
+----+--------+------------------------------+----+
only showing top 100 rows

In [ ]:
# Ejemplos de clase 4
spark.sql('''SELECT Athlete Atleta, 
                    CONCAT(Sport,"-",Discipline, "/", Event) AS `Prueba realizada` 
            FROM winter
''').show(truncate= False)

+--------------------+---------------------------------+
|Atleta              |Prueba realizada                 |
+--------------------+---------------------------------+
|BERTHET, G.         |Biathlon-Biathlon/Military Patrol|
|MANDRILLON, C.      |Biathlon-Biathlon/Military Patrol|
|MANDRILLON, Maurice |Biathlon-Biathlon/Military Patrol|
|VANDELLE, André     |Biathlon-Biathlon/Military Patrol|
|AUFDENBLATTEN, Adolf|Biathlon-Biathlon/Military Patrol|
|JULEN, Alphonse     |Biathlon-Biathlon/Military Patrol|
|JULEN, Ant.         |Biathlon-Biathlon/Military Patrol|
|VAUCHER, D.         |Biathlon-Biathlon/Military Patrol|
|BREMER, V.E.        |Biathlon-Biathlon/Military Patrol|
|ESKELINEN, A.       |Biathlon-Biathlon/Military Patrol|
|HIRVONEN, H.        |Biathlon-Biathlon/Military Patrol|
|LAPPALAINEN, Martti |Biathlon-Biathlon/Military Patrol|
|MORTIAUX, René      |Bobsleigh-Bobsleigh/Four-Man     |
|MULDER, Charles     |Bobsleigh-Bobsleigh/Four-Man     |
|VAN DEN BROECK, Paul|Bobsleigh-Bobsleigh/Four-Man     |
|VERSCHUEREN, Victor |Bobsleigh-Bobsleigh/Four-Man     |
|WILLIEMS, Henri     |Bobsleigh-Bobsleigh/Four-Man     |
|NEVEU, Alfred       |Bobsleigh-Bobsleigh/Four-Man     |
|SCHERRER, Eduard    |Bobsleigh-Bobsleigh/Four-Man     |
|SCHLÄPPI, Alfred    |Bobsleigh-Bobsleigh/Four-Man     |
+--------------------+---------------------------------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 5
spark.sql('''SELECT Athlete Atleta, 
                    CONCAT(Sport,"-",Discipline, "/", Event) AS `Prueba realizada` 
            FROM winter
''').show(truncate= False)

+--------------------+---------------------------------+
|Atleta              |Prueba realizada                 |
+--------------------+---------------------------------+
|BERTHET, G.         |Biathlon-Biathlon/Military Patrol|
|MANDRILLON, C.      |Biathlon-Biathlon/Military Patrol|
|MANDRILLON, Maurice |Biathlon-Biathlon/Military Patrol|
|VANDELLE, André     |Biathlon-Biathlon/Military Patrol|
|AUFDENBLATTEN, Adolf|Biathlon-Biathlon/Military Patrol|
|JULEN, Alphonse     |Biathlon-Biathlon/Military Patrol|
|JULEN, Ant.         |Biathlon-Biathlon/Military Patrol|
|VAUCHER, D.         |Biathlon-Biathlon/Military Patrol|
|BREMER, V.E.        |Biathlon-Biathlon/Military Patrol|
|ESKELINEN, A.       |Biathlon-Biathlon/Military Patrol|
|HIRVONEN, H.        |Biathlon-Biathlon/Military Patrol|
|LAPPALAINEN, Martti |Biathlon-Biathlon/Military Patrol|
|MORTIAUX, René      |Bobsleigh-Bobsleigh/Four-Man     |
|MULDER, Charles     |Bobsleigh-Bobsleigh/Four-Man     |
|VAN DEN BROECK, Paul|Bobsleigh-Bobsleigh/Four-Man     |
|VERSCHUEREN, Victor |Bobsleigh-Bobsleigh/Four-Man     |
|WILLIEMS, Henri     |Bobsleigh-Bobsleigh/Four-Man     |
|NEVEU, Alfred       |Bobsleigh-Bobsleigh/Four-Man     |
|SCHERRER, Eduard    |Bobsleigh-Bobsleigh/Four-Man     |
|SCHLÄPPI, Alfred    |Bobsleigh-Bobsleigh/Four-Man     |
+--------------------+---------------------------------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 6: WHERE
spark.sql('''SELECT Athlete AS `Ganadores de oro`, Country AS `País` 
            FROM winter
            WHERE Medal="Gold"
''').show(truncate= False)

+--------------------+----+
|Ganadores de oro    |País|
+--------------------+----+
|AUFDENBLATTEN, Adolf|SUI |
|JULEN, Alphonse     |SUI |
|JULEN, Ant.         |SUI |
|VAUCHER, D.         |SUI |
|NEVEU, Alfred       |SUI |
|SCHERRER, Eduard    |SUI |
|SCHLÄPPI, Alfred    |SUI |
|SCHLÄPPI, Heinrich  |SUI |
|AIKMAN, T.          |GBR |
|ASTLEY, D.-G.       |GBR |
|BROWN, V.           |GBR |
|COUSIN, R.          |GBR |
|JACKSON, V.-K.      |GBR |
|MC LEOD, J.         |GBR |
|MURRAY, T.-B.       |GBR |
|WELSH, R.           |GBR |
|CAMERON, Jack       |CAN |
|COLLETT, Ernest J.  |CAN |
|MAC CAFFERY, Albert |CAN |
|MAC MUNN, Harold    |CAN |
+--------------------+----+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 7: WHERE
spark.sql('''SELECT * 
            FROM winter
            WHERE Country="ESP"
''').show(5, truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Country<>"ESP"
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Country!="ESP"
''').show(truncate= False)

+----+-----------+------+-------------+--------------------------+-------+------+------+------+
|Year|City       |Sport |Discipline   |Athlete                   |Country|Gender|Event |Medal |
+----+-----------+------+-------------+--------------------------+-------+------+------+------+
|1972|Sapporo    |Skiing|Alpine Skiing|FERNANDEZ OCHOA, Francisco|ESP    |Men   |Slalom|Gold  |
|1992|Albertville|Skiing|Alpine Skiing|FERNANDEZ OCHOA, Blanca   |ESP    |Women |Slalom|Bronze|
+----+-----------+------+-------------+--------------------------+-------+------+------+------+

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete             |Country|Gender|Event          |Medal |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.         |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André     |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |AUFDENBLATTEN, Adolf|SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Alphonse     |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Ant.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |VAUCHER, D.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.       |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul|BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |NEVEU, Alfred       |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHERRER, Eduard    |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHLÄPPI, Alfred    |SUI    |Men   |Four-Man       |Gold  |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete             |Country|Gender|Event          |Medal |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.         |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André     |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |AUFDENBLATTEN, Adolf|SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Alphonse     |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Ant.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |VAUCHER, D.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.       |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul|BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |NEVEU, Alfred       |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHERRER, Eduard    |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHLÄPPI, Alfred    |SUI    |Men   |Four-Man       |Gold  |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 8: WHERE ¿Juegos olímpicos en S.XX?
spark.sql('''SELECT * 
            FROM winter
            WHERE Year<2000
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Year<=1999
''').show(truncate= False)

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete             |Country|Gender|Event          |Medal |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.         |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André     |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |AUFDENBLATTEN, Adolf|SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Alphonse     |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Ant.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |VAUCHER, D.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.       |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul|BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |NEVEU, Alfred       |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHERRER, Eduard    |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHLÄPPI, Alfred    |SUI    |Men   |Four-Man       |Gold  |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete             |Country|Gender|Event          |Medal |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.         |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André     |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |AUFDENBLATTEN, Adolf|SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Alphonse     |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Ant.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |VAUCHER, D.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.       |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul|BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |NEVEU, Alfred       |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHERRER, Eduard    |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHLÄPPI, Alfred    |SUI    |Men   |Four-Man       |Gold  |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 9: WHERE ¿Juegos olímpicos en S.XXI?
spark.sql('''SELECT * 
            FROM winter
            WHERE Year>=2000
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Year>1999
''').show(truncate= False)

+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
|Year|City          |Sport   |Discipline|Athlete               |Country|Gender|Event         |Medal |
+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
|2002|Salt Lake City|Biathlon|Biathlon  |PERNER, Wolfgang      |AUT    |Men   |10KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |10KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |FISCHER, Sven         |GER    |Men   |10KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |NIKOULTCHINA, Irina   |BUL    |Women |10KM Pursuit  |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |PYLEVA, Olga          |RUS    |Women |10KM Pursuit  |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |WILHELM, Kati         |GER    |Women |10KM Pursuit  |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |GROSS, Ricco          |GER    |Men   |12.5Km Pursuit|Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |12.5Km Pursuit|Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Raphael       |FRA    |Men   |12.5Km Pursuit|Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |FORSBERG, Magdalena   |SWE    |Women |15KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |HENKEL, Andrea        |GER    |Women |15KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Liv Grete     |NOR    |Women |15KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |MAIGOUROV, Victor     |RUS    |Men   |20KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |20KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |LUCK, Frank           |GER    |Men   |20KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |DEFRASNE, Vincent     |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |MARGUET, Gilles       |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Raphael       |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |ROBERT, Julien        |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |ANDRESEN, Frode       |NOR    |Men   |4X7.5KM Relay |Gold  |
+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
only showing top 20 rows

+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
|Year|City          |Sport   |Discipline|Athlete               |Country|Gender|Event         |Medal |
+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
|2002|Salt Lake City|Biathlon|Biathlon  |PERNER, Wolfgang      |AUT    |Men   |10KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |10KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |FISCHER, Sven         |GER    |Men   |10KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |NIKOULTCHINA, Irina   |BUL    |Women |10KM Pursuit  |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |PYLEVA, Olga          |RUS    |Women |10KM Pursuit  |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |WILHELM, Kati         |GER    |Women |10KM Pursuit  |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |GROSS, Ricco          |GER    |Men   |12.5Km Pursuit|Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |12.5Km Pursuit|Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Raphael       |FRA    |Men   |12.5Km Pursuit|Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |FORSBERG, Magdalena   |SWE    |Women |15KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |HENKEL, Andrea        |GER    |Women |15KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Liv Grete     |NOR    |Women |15KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |MAIGOUROV, Victor     |RUS    |Men   |20KM          |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |BJOERNDALEN, Ole Einar|NOR    |Men   |20KM          |Gold  |
|2002|Salt Lake City|Biathlon|Biathlon  |LUCK, Frank           |GER    |Men   |20KM          |Silver|
|2002|Salt Lake City|Biathlon|Biathlon  |DEFRASNE, Vincent     |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |MARGUET, Gilles       |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |POIREE, Raphael       |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |ROBERT, Julien        |FRA    |Men   |4X7.5KM Relay |Bronze|
|2002|Salt Lake City|Biathlon|Biathlon  |ANDRESEN, Frode       |NOR    |Men   |4X7.5KM Relay |Gold  |
+----+--------------+--------+----------+----------------------+-------+------+--------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 10: WHERE
spark.sql('''SELECT * 
            FROM winter
            WHERE Country="ESP" AND Country="ITA"
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Country="ESP" OR Country="ITA"
''').show(truncate= False)

+----+----+-----+----------+-------+-------+------+-----+-----+
|Year|City|Sport|Discipline|Athlete|Country|Gender|Event|Medal|
+----+----+-----+----------+-------+-------+------+-----+-----+
+----+----+-----+----------+-------+-------+------+-----+-----+

+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|Year|City             |Sport    |Discipline   |Athlete                 |Country|Gender|Event       |Medal |
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|1948|St.Moritz        |Bobsleigh|Skeleton     |BIBBIA, Nino            |ITA    |Men   |Individual  |Gold  |
|1952|Oslo             |Skiing   |Alpine Skiing|COLO, Zeno              |ITA    |Men   |Downhill    |Gold  |
|1952|Oslo             |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Downhill    |Bronze|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |GIRARDI, Ulrico         |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MOCELLINI, Renato       |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |CONTI, Giacomo          |ITA    |Men   |Two-Man     |Gold  |
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |DALLA COSTA, Lamberto   |ITA    |Men   |Two-Man     |Gold  |
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Two-Man     |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Silver|
|1960|Squaw Valley     |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Giant Slalom|Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |RIGONI, Benito          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Gildo         |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |BONAGURA, Romano        |ITA    |Men   |Two-Man     |Silver|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |ZARDINI, Sergio         |ITA    |Men   |Two-Man     |Silver|
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 10: WHERE
spark.sql('''SELECT * 
            FROM winter
            WHERE Country="ESP" OR Country="ITA"
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Medal="Silver" OR Medal="Bronze"
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE (Country="ESP" OR Country="ITA") AND (Medal="Silver" OR Medal="Bronze")
''').show(truncate= False)

+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|Year|City             |Sport    |Discipline   |Athlete                 |Country|Gender|Event       |Medal |
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|1948|St.Moritz        |Bobsleigh|Skeleton     |BIBBIA, Nino            |ITA    |Men   |Individual  |Gold  |
|1952|Oslo             |Skiing   |Alpine Skiing|COLO, Zeno              |ITA    |Men   |Downhill    |Gold  |
|1952|Oslo             |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Downhill    |Bronze|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |GIRARDI, Ulrico         |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MOCELLINI, Renato       |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |CONTI, Giacomo          |ITA    |Men   |Two-Man     |Gold  |
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |DALLA COSTA, Lamberto   |ITA    |Men   |Two-Man     |Gold  |
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Two-Man     |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Silver|
|1960|Squaw Valley     |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Giant Slalom|Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |RIGONI, Benito          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Gildo         |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |BONAGURA, Romano        |ITA    |Men   |Two-Man     |Silver|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |ZARDINI, Sergio         |ITA    |Men   |Two-Man     |Silver|
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
only showing top 20 rows

+----+--------+---------+----------+---------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete              |Country|Gender|Event          |Medal |
+----+--------+---------+----------+---------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.          |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.       |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice  |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.         |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.         |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti  |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René       |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor  |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |ARNOLD, Thomas       |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |BROOME, Ralpf        |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |RICHARDSON, Alexander|GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |SOHER, Rodney        |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Curling  |Curling   |ALDEERT, H.          |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling  |Curling   |ANDRE, Georges       |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling  |Curling   |BENEDIC              |FRA    |Men   |Curling        |Bronze|
+----+--------+---------+----------+---------------------+-------+------+---------------+------+
only showing top 20 rows

+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|Year|City             |Sport    |Discipline   |Athlete                 |Country|Gender|Event       |Medal |
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
|1952|Oslo             |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Downhill    |Bronze|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |GIRARDI, Ulrico         |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MOCELLINI, Renato       |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |ALVERA, Renzo           |ITA    |Men   |Two-Man     |Silver|
|1956|Cortina d'Ampezzo|Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Silver|
|1960|Squaw Valley     |Skiing   |Alpine Skiing|MINUZZO CHENAL, Giuliana|ITA    |Women |Giant Slalom|Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |RIGONI, Benito          |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Gildo         |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Four-Man    |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |MONTI, Eugenio          |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |SIORPAES, Sergio        |ITA    |Men   |Two-Man     |Bronze|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |BONAGURA, Romano        |ITA    |Men   |Two-Man     |Silver|
|1964|Innsbruck        |Bobsleigh|Bobsleigh    |ZARDINI, Sergio         |ITA    |Men   |Two-Man     |Silver|
|1964|Innsbruck        |Luge     |Luge         |AUSSENDORFER, Walter    |ITA    |Men   |Doubles     |Bronze|
|1964|Innsbruck        |Luge     |Luge         |MAIR, Sigisfredo        |ITA    |Men   |Doubles     |Bronze|
|1972|Sapporo          |Bobsleigh|Bobsleigh    |BONICHON, Gianni        |ITA    |Men   |Four-Man    |Silver|
|1972|Sapporo          |Bobsleigh|Bobsleigh    |DAL FABBRO, Corrado     |ITA    |Men   |Four-Man    |Silver|
+----+-----------------+---------+-------------+------------------------+-------+------+------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 11: WHERE NOT
spark.sql('''SELECT * 
            FROM winter
            WHERE NOT Year =1924
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Year <>1924
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE NOT Year !=1924
''').show(truncate= False)

+----+---------+----------+----------+------------------------+-------+------+----------+------+
|Year|City     |Sport     |Discipline|Athlete                 |Country|Gender|Event     |Medal |
+----+---------+----------+----------+------------------------+-------+------+----------+------+
|1928|St.Moritz|Bobsleigh |Bobsleigh |HESS, Hans              |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HUBER, Sebastian        |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |KILIAN, Hanns           |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |KREMPL, Valentin        |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |NÄGLE, Hanns            |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |FISKE, William          |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |GRAY, Clifford Barton   |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |MASON, Geoffrey Travers |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |PARKE, Richard          |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |TUCKER, Nion            |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |DOE, Thomas             |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |GRANGER, David          |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HEATON, Jennison        |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HINE, Lyman             |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |O'BRIEN, Jay James      |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Skeleton  |NORTHESK, David, Earl of|GBR    |Men   |Individual|Bronze|
|1928|St.Moritz|Bobsleigh |Skeleton  |HEATON, Jennison        |USA    |Men   |Individual|Gold  |
|1928|St.Moritz|Bobsleigh |Skeleton  |HEATON, John            |USA    |Men   |Individual|Silver|
|1928|St.Moritz|Ice Hockey|Ice Hockey|ANDREOSSI, Giannin      |SUI    |Men   |Ice Hockey|Bronze|
|1928|St.Moritz|Ice Hockey|Ice Hockey|ANDREOSSI, Mezzi        |SUI    |Men   |Ice Hockey|Bronze|
+----+---------+----------+----------+------------------------+-------+------+----------+------+
only showing top 20 rows

+----+---------+----------+----------+------------------------+-------+------+----------+------+
|Year|City     |Sport     |Discipline|Athlete                 |Country|Gender|Event     |Medal |
+----+---------+----------+----------+------------------------+-------+------+----------+------+
|1928|St.Moritz|Bobsleigh |Bobsleigh |HESS, Hans              |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HUBER, Sebastian        |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |KILIAN, Hanns           |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |KREMPL, Valentin        |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |NÄGLE, Hanns            |GER    |Men   |Five-Man  |Bronze|
|1928|St.Moritz|Bobsleigh |Bobsleigh |FISKE, William          |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |GRAY, Clifford Barton   |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |MASON, Geoffrey Travers |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |PARKE, Richard          |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |TUCKER, Nion            |USA    |Men   |Five-Man  |Gold  |
|1928|St.Moritz|Bobsleigh |Bobsleigh |DOE, Thomas             |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |GRANGER, David          |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HEATON, Jennison        |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |HINE, Lyman             |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Bobsleigh |O'BRIEN, Jay James      |USA    |Men   |Five-Man  |Silver|
|1928|St.Moritz|Bobsleigh |Skeleton  |NORTHESK, David, Earl of|GBR    |Men   |Individual|Bronze|
|1928|St.Moritz|Bobsleigh |Skeleton  |HEATON, Jennison        |USA    |Men   |Individual|Gold  |
|1928|St.Moritz|Bobsleigh |Skeleton  |HEATON, John            |USA    |Men   |Individual|Silver|
|1928|St.Moritz|Ice Hockey|Ice Hockey|ANDREOSSI, Giannin      |SUI    |Men   |Ice Hockey|Bronze|
|1928|St.Moritz|Ice Hockey|Ice Hockey|ANDREOSSI, Mezzi        |SUI    |Men   |Ice Hockey|Bronze|
+----+---------+----------+----------+------------------------+-------+------+----------+------+
only showing top 20 rows

+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|Year|City    |Sport    |Discipline|Athlete             |Country|Gender|Event          |Medal |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon |Biathlon  |BERTHET, G.         |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, C.      |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |MANDRILLON, Maurice |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |VANDELLE, André     |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon |Biathlon  |AUFDENBLATTEN, Adolf|SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Alphonse     |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |JULEN, Ant.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |VAUCHER, D.         |SUI    |Men   |Military Patrol|Gold  |
|1924|Chamonix|Biathlon |Biathlon  |BREMER, V.E.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |ESKELINEN, A.       |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |HIRVONEN, H.        |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Biathlon |Biathlon  |LAPPALAINEN, Martti |FIN    |Men   |Military Patrol|Silver|
|1924|Chamonix|Bobsleigh|Bobsleigh |MORTIAUX, René      |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |MULDER, Charles     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VAN DEN BROECK, Paul|BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |VERSCHUEREN, Victor |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |WILLIEMS, Henri     |BEL    |Men   |Four-Man       |Bronze|
|1924|Chamonix|Bobsleigh|Bobsleigh |NEVEU, Alfred       |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHERRER, Eduard    |SUI    |Men   |Four-Man       |Gold  |
|1924|Chamonix|Bobsleigh|Bobsleigh |SCHLÄPPI, Alfred    |SUI    |Men   |Four-Man       |Gold  |
+----+--------+---------+----------+--------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:

# Ejemplos de clase 12: WHERE IN
spark.sql('''SELECT * 
            FROM winter
            WHERE (Country="ESP" OR Country="ITA" OR Country="GER" OR Country="GBR" OR Country="FRA") 
            AND (Medal="Silver" OR Medal="Bronze")
''').show(truncate= False)

spark.sql('''SELECT * 
            FROM winter
            WHERE Country IN ("ESP","ITA","GER","GBR","FRA") 
            AND Medal IN ("Silver","Bronze")
''').show(truncate= False)

+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
|Year|City    |Sport     |Discipline|Athlete                   |Country|Gender|Event          |Medal |
+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon  |Biathlon  |BERTHET, G.               |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |MANDRILLON, C.            |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |MANDRILLON, Maurice       |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |VANDELLE, André           |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Bobsleigh |Bobsleigh |ARNOLD, Thomas            |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |BROOME, Ralpf             |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |RICHARDSON, Alexander     |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |SOHER, Rodney             |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Curling   |Curling   |ALDEERT, H.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |ANDRE, Georges            |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |BENEDIC                   |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |CANIVET, P.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |COURNOLLET, F.            |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |PLANQUE, R.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|ANDERSON, William         |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|BOULDEN, C.-B.            |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARR-HARRIS, Louis Howland|GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARRUTHERS, Colin Gordon  |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARRUTHERS, Eric Dudley   |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CLARKSON, Guy E.          |GBR    |Men   |Ice Hockey     |Bronze|
+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
only showing top 20 rows

+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
|Year|City    |Sport     |Discipline|Athlete                   |Country|Gender|Event          |Medal |
+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
|1924|Chamonix|Biathlon  |Biathlon  |BERTHET, G.               |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |MANDRILLON, C.            |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |MANDRILLON, Maurice       |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Biathlon  |Biathlon  |VANDELLE, André           |FRA    |Men   |Military Patrol|Bronze|
|1924|Chamonix|Bobsleigh |Bobsleigh |ARNOLD, Thomas            |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |BROOME, Ralpf             |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |RICHARDSON, Alexander     |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Bobsleigh |Bobsleigh |SOHER, Rodney             |GBR    |Men   |Four-Man       |Silver|
|1924|Chamonix|Curling   |Curling   |ALDEERT, H.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |ANDRE, Georges            |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |BENEDIC                   |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |CANIVET, P.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |COURNOLLET, F.            |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Curling   |Curling   |PLANQUE, R.               |FRA    |Men   |Curling        |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|ANDERSON, William         |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|BOULDEN, C.-B.            |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARR-HARRIS, Louis Howland|GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARRUTHERS, Colin Gordon  |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CARRUTHERS, Eric Dudley   |GBR    |Men   |Ice Hockey     |Bronze|
|1924|Chamonix|Ice Hockey|Ice Hockey|CLARKSON, Guy E.          |GBR    |Men   |Ice Hockey     |Bronze|
+----+--------+----------+----------+--------------------------+-------+------+---------------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 13: WHERE BETWEEN
spark.sql('''SELECT DISTINCT City AS Ciudad, Year `Año`
            FROM winter
            WHERE Year BETWEEN 1900 AND 1999
''').show(truncate= False)

+----------------------+----+
|Ciudad                |Año |
+----------------------+----+
|Cortina d'Ampezzo     |1956|
|Lake Placid           |1980|
|Garmisch Partenkirchen|1936|
|Innsbruck             |1964|
|Chamonix              |1924|
|Sapporo               |1972|
|Squaw Valley          |1960|
|St.Moritz             |1928|
|Calgary               |1988|
|St.Moritz             |1948|
|Albertville           |1992|
|Grenoble              |1968|
|Innsbruck             |1976|
|Oslo                  |1952|
|Lillehammer           |1994|
|Sarajevo              |1984|
|Lake Placid           |1932|
|Nagano                |1998|
+----------------------+----+

In [ ]:
# Ejemplos de clase 13: WHERE BETWEEN
spark.sql('''SELECT DISTINCT City AS Ciudad, Year `Año`
            FROM winter
            WHERE Year BETWEEN 1900 AND 1999
''').show(truncate= False)

+----------------------+----+
|Ciudad                |Año |
+----------------------+----+
|Cortina d'Ampezzo     |1956|
|Lake Placid           |1980|
|Garmisch Partenkirchen|1936|
|Innsbruck             |1964|
|Chamonix              |1924|
|Sapporo               |1972|
|Squaw Valley          |1960|
|St.Moritz             |1928|
|Calgary               |1988|
|St.Moritz             |1948|
|Albertville           |1992|
|Grenoble              |1968|
|Innsbruck             |1976|
|Oslo                  |1952|
|Lillehammer           |1994|
|Sarajevo              |1984|
|Lake Placid           |1932|
|Nagano                |1998|
+----------------------+----+

In [ ]:
# Ejemplos de clase 15: LIKE
spark.sql('''SELECT Athlete 
              FROM winter
              WHERE Athlete LIKE "H%"
''').show(truncate= False)

spark.sql('''SELECT Athlete 
              FROM winter
              WHERE Athlete LIKE "%rlei%"
''').show(truncate= False)

spark.sql('''SELECT Athlete 
              FROM winter
              WHERE Athlete LIKE "_CH%" AND Athlete LIKE "%rlei%"
''').show(truncate= False)

+-------------------+
|Athlete            |
+-------------------+
|HIRVONEN, H.       |
|HOLMES, George     |
|HAUG, Thorleif     |
|HAUG, Thorleif     |
|HAUG, Thorleif     |
|HAUGEN, Anders     |
|HESS, Hans         |
|HUBER, Sebastian   |
|HEATON, Jennison   |
|HINE, Lyman        |
|HEATON, Jennison   |
|HEATON, John       |
|HUDSON, Henry Louis|
|HOLMQVIST, Birger  |
|HENIE, Sonja       |
|HEGGE, Ole         |
|HEDLUND, Per Erik  |
|HOPMANN, Helmut    |
|HUBER, Sebastian   |
|HUTH, Werner       |
+-------------------+
only showing top 20 rows

+---------------------+
|Athlete              |
+---------------------+
|HAUG, Thorleif       |
|HAUG, Thorleif       |
|HAUG, Thorleif       |
|SCHJELDERUP, Thorleif|
+---------------------+

+---------------------+
|Athlete              |
+---------------------+
|SCHJELDERUP, Thorleif|
+---------------------+

In [ ]:
# Ejemplos de clase 16: WHERE IS NULL
spark.sql('''SELECT *
              FROM dictionary
              WHERE `GDP per Capita` IS NULL
''').show(50, truncate= False)

spark.sql('''SELECT *
              FROM dictionary
              WHERE `GDP per Capita` IS NOT NULL
''').show(50, truncate= False)

+-------------------------------+----+----------+--------------+
|Country                        |Code|Population|GDP per Capita|
+-------------------------------+----+----------+--------------+
|American Samoa*                |ASA |55538.0   |nan           |
|Andorra                        |AND |70473.0   |nan           |
|Aruba*                         |ARU |103889.0  |nan           |
|Bermuda*                       |BER |65235.0   |nan           |
|British Virgin Islands         |IVB |30117.0   |nan           |
|Cayman Islands*                |CAY |59967.0   |nan           |
|Cook Islands                   |COK |nan       |nan           |
|Cuba                           |CUB |11389562.0|nan           |
|Eritrea                        |ERI |nan       |nan           |
|Guam                           |GUM |169885.0  |nan           |
|Iran                           |IRI |79109272.0|nan           |
|Korea, North                   |PRK |25155317.0|nan           |
|Libya                          |LBA |6278438.0 |nan           |
|Liechtenstein                  |LIE |37531.0   |nan           |
|Mauritania                     |MTN |4067564.0 |nan           |
|Monaco                         |MON |37731.0   |nan           |
|Netherlands Antilles*          |AHO |nan       |nan           |
|Palestine, Occupied Territories|PLE |nan       |nan           |
|Papua New Guinea               |PNG |7619321.0 |nan           |
|Puerto Rico*                   |PUR |3474182.0 |nan           |
|San Marino                     |SMR |31781.0   |nan           |
|Syria                          |SYR |18502413.0|nan           |
|Taiwan                         |TPE |nan       |nan           |
|Venezuela                      |VEN |31108083.0|nan           |
|Virgin Islands*                |ISV |103574.0  |nan           |
+-------------------------------+----+----------+--------------+

+------------------------+----+------------+----------------+
|Country                 |Code|Population  |GDP per Capita  |
+------------------------+----+------------+----------------+
|Afghanistan             |AFG |32526562.0  |594.323081219966|
|Albania                 |ALB |2889167.0   |3945.21758150914|
|Algeria                 |ALG |39666519.0  |4206.03123244958|
|Angola                  |ANG |25021974.0  |4101.47215182964|
|Antigua and Barbuda     |ANT |91818.0     |13714.7319616988|
|Argentina               |ARG |43416755.0  |13431.8783398577|
|Armenia                 |ARM |3017712.0   |3489.12768956995|
|Australia               |AUS |23781169.0  |56310.9629933721|
|Austria                 |AUT |8611088.0   |43774.985173612 |
|Azerbaijan              |AZE |9651349.0   |5496.34464026248|
|Bahamas                 |BAH |388019.0    |22817.2308572518|
|Bahrain                 |BRN |1377237.0   |22600.2140981035|
|Bangladesh              |BAN |160995642.0 |1211.70153057661|
|Barbados                |BAR |284215.0    |15429.3404640853|
|Belarus                 |BLR |9513000.0   |5740.45649479562|
|Belgium                 |BEL |11285721.0  |40324.0277657215|
|Belize                  |BIZ |359287.0    |4878.72126724745|
|Benin                   |BEN |10879829.0  |762.051205441965|
|Bhutan                  |BHU |774830.0    |2655.99889161858|
|Bolivia                 |BOL |10724705.0  |3076.79181060881|
|Bosnia and Herzegovina  |BIH |3810416.0   |4249.3303131949 |
|Botswana                |BOT |2262485.0   |6360.13822018837|
|Brazil                  |BRA |207847528.0 |8538.5899749574 |
|Brunei                  |BRU |423188.0    |30554.7296658073|
|Bulgaria                |BUL |7177991.0   |6993.47735975728|
|Burkina Faso            |BUR |18105570.0  |589.774414136617|
|Burundi                 |BDI |11178921.0  |277.068309170914|
|Cambodia                |CAM |15577899.0  |1158.6899035244 |
|Cameroon                |CMR |23344179.0  |1217.26067048427|
|Canada                  |CAN |35851774.0  |43248.529909341 |
|Cape Verde              |CPV |520502.0    |3080.17881445563|
|Central African Republic|CAF |4900274.0   |323.201674024141|
|Chad                    |CHA |14037472.0  |775.695090525313|
|Chile                   |CHI |17948141.0  |13416.2300390185|
|China                   |CHN |1371220000.0|8027.68381013907|
|Colombia                |COL |48228704.0  |6056.14771720405|
|Comoros                 |COM |788474.0    |717.448849960912|
|Congo                   |CGO |4620330.0   |1851.19991555492|
|Congo, Dem Rep          |COD |77266814.0  |456.052740548027|
|Costa Rica              |CRC |4807850.0   |11260.0921598775|
|Cote d'Ivoire           |CIV |22701556.0  |1398.98995768413|
|Croatia                 |CRO |4224404.0   |11535.8293558997|
|Cyprus                  |CYP |1165300.0   |23242.8400685313|
|Czech Republic          |CZE |10551219.0  |17548.3382129701|
|Denmark                 |DEN |5676002.0   |51989.2934712354|
|Djibouti                |DJI |887861.0    |1945.12429310444|
|Dominica                |DMA |72680.0     |7116.38639189547|
|Dominican Republic      |DOM |10528391.0  |6468.4734915433 |
|East Timor (Timor-Leste)|TLS |1245015.0   |1157.99295590816|
|Ecuador                 |ECU |16144363.0  |6205.06414529951|
+------------------------+----+------------+----------------+
only showing top 50 rows

In [ ]:
# Ejemplos de clase 16: WHERE IS NULL
spark.sql('''SELECT *
              FROM dictionary
              WHERE `GDP per Capita` IS NULL
''').show(50, truncate= False)

spark.sql('''SELECT *
              FROM dictionary
              WHERE `GDP per Capita` IS NOT NULL
''').show(50, truncate= False)

+-------+----+----------+--------------+
|Country|Code|Population|GDP per Capita|
+-------+----+----------+--------------+
+-------+----+----------+--------------+

+------------------------+----+------------+----------------+
|Country                 |Code|Population  |GDP per Capita  |
+------------------------+----+------------+----------------+
|Afghanistan             |AFG |32526562.0  |594.323081219966|
|Albania                 |ALB |2889167.0   |3945.21758150914|
|Algeria                 |ALG |39666519.0  |4206.03123244958|
|American Samoa*         |ASA |55538.0     |nan             |
|Andorra                 |AND |70473.0     |nan             |
|Angola                  |ANG |25021974.0  |4101.47215182964|
|Antigua and Barbuda     |ANT |91818.0     |13714.7319616988|
|Argentina               |ARG |43416755.0  |13431.8783398577|
|Armenia                 |ARM |3017712.0   |3489.12768956995|
|Aruba*                  |ARU |103889.0    |nan             |
|Australia               |AUS |23781169.0  |56310.9629933721|
|Austria                 |AUT |8611088.0   |43774.985173612 |
|Azerbaijan              |AZE |9651349.0   |5496.34464026248|
|Bahamas                 |BAH |388019.0    |22817.2308572518|
|Bahrain                 |BRN |1377237.0   |22600.2140981035|
|Bangladesh              |BAN |160995642.0 |1211.70153057661|
|Barbados                |BAR |284215.0    |15429.3404640853|
|Belarus                 |BLR |9513000.0   |5740.45649479562|
|Belgium                 |BEL |11285721.0  |40324.0277657215|
|Belize                  |BIZ |359287.0    |4878.72126724745|
|Bermuda*                |BER |65235.0     |nan             |
|Benin                   |BEN |10879829.0  |762.051205441965|
|Bhutan                  |BHU |774830.0    |2655.99889161858|
|Bolivia                 |BOL |10724705.0  |3076.79181060881|
|Bosnia and Herzegovina  |BIH |3810416.0   |4249.3303131949 |
|Botswana                |BOT |2262485.0   |6360.13822018837|
|Brazil                  |BRA |207847528.0 |8538.5899749574 |
|British Virgin Islands  |IVB |30117.0     |nan             |
|Brunei                  |BRU |423188.0    |30554.7296658073|
|Bulgaria                |BUL |7177991.0   |6993.47735975728|
|Burkina Faso            |BUR |18105570.0  |589.774414136617|
|Burundi                 |BDI |11178921.0  |277.068309170914|
|Cambodia                |CAM |15577899.0  |1158.6899035244 |
|Cameroon                |CMR |23344179.0  |1217.26067048427|
|Canada                  |CAN |35851774.0  |43248.529909341 |
|Cape Verde              |CPV |520502.0    |3080.17881445563|
|Cayman Islands*         |CAY |59967.0     |nan             |
|Central African Republic|CAF |4900274.0   |323.201674024141|
|Chad                    |CHA |14037472.0  |775.695090525313|
|Chile                   |CHI |17948141.0  |13416.2300390185|
|China                   |CHN |1371220000.0|8027.68381013907|
|Colombia                |COL |48228704.0  |6056.14771720405|
|Comoros                 |COM |788474.0    |717.448849960912|
|Congo                   |CGO |4620330.0   |1851.19991555492|
|Congo, Dem Rep          |COD |77266814.0  |456.052740548027|
|Cook Islands            |COK |nan         |nan             |
|Costa Rica              |CRC |4807850.0   |11260.0921598775|
|Cote d'Ivoire           |CIV |22701556.0  |1398.98995768413|
|Croatia                 |CRO |4224404.0   |11535.8293558997|
|Cuba                    |CUB |11389562.0  |nan             |
+------------------------+----+------------+----------------+
only showing top 50 rows

In [ ]:
# Ejemplos de clase 16: WHERE IS NULL
spark.sql('''SELECT *
              FROM dictionary
              ORDER BY `GDP per Capita`
''').show(truncate= False)

spark.sql('''SELECT *
              FROM dictionary
              WHERE `GDP per Capita` IS NOT NULL
              ORDER BY CAST(`GDP per Capita` AS FLOAT) DESC
''').show(truncate= False)

spark.sql('''SELECT Country, CAST(`GDP per Capita` AS FLOAT) AS `Renta per capita`
              FROM dictionary
              WHERE `GDP per Capita` IS NOT NULL
              ORDER BY `Renta per capita`
''').show(truncate= False)

+------------------------+----+-----------+----------------+
|Country                 |Code|Population |GDP per Capita  |
+------------------------+----+-----------+----------------+
|Luxembourg              |LUX |569676.0   |101449.968168042|
|Kazakhstan              |KAZ |17544126.0 |10509.9810699442|
|Lesotho                 |LES |2135022.0  |1066.98562625017|
|Kyrgyzstan              |KGZ |5957000.0  |1103.2153515202 |
|Costa Rica              |CRC |4807850.0  |11260.0921598775|
|Croatia                 |CRO |4224404.0  |11535.8293558997|
|East Timor (Timor-Leste)|TLS |1245015.0  |1157.99295590816|
|Cambodia                |CAM |15577899.0 |1158.6899035244 |
|Burma                   |MYA |53897154.0 |1161.48815791087|
|Bangladesh              |BAN |160995642.0|1211.70153057661|
|Cameroon                |CMR |23344179.0 |1217.26067048427|
|Hungary                 |HUN |9844686.0  |12363.5434596539|
|Poland                  |POL |37999494.0 |12554.5475536313|
|Zambia                  |ZAM |16211767.0 |1304.87901447726|
|Panama                  |PAN |3929141.0  |13268.1137549335|
|Chile                   |CHI |17948141.0 |13416.2300390185|
|Argentina               |ARG |43416755.0 |13431.8783398577|
|Palau                   |PLW |21291.0    |13498.661406228 |
|Latvia                  |LAT |1978440.0  |13648.5475564772|
|Ghana                   |GHA |27409893.0 |1369.70112227585|
+------------------------+----+-----------+----------------+
only showing top 20 rows

+-------------------------------+----+----------+--------------+
|Country                        |Code|Population|GDP per Capita|
+-------------------------------+----+----------+--------------+
|Liechtenstein                  |LIE |37531.0   |nan           |
|Palestine, Occupied Territories|PLE |nan       |nan           |
|Taiwan                         |TPE |nan       |nan           |
|Virgin Islands*                |ISV |103574.0  |nan           |
|Venezuela                      |VEN |31108083.0|nan           |
|American Samoa*                |ASA |55538.0   |nan           |
|Monaco                         |MON |37731.0   |nan           |
|Cook Islands                   |COK |nan       |nan           |
|Netherlands Antilles*          |AHO |nan       |nan           |
|Libya                          |LBA |6278438.0 |nan           |
|Eritrea                        |ERI |nan       |nan           |
|Korea, North                   |PRK |25155317.0|nan           |
|British Virgin Islands         |IVB |30117.0   |nan           |
|Cayman Islands*                |CAY |59967.0   |nan           |
|Guam                           |GUM |169885.0  |nan           |
|Bermuda*                       |BER |65235.0   |nan           |
|Andorra                        |AND |70473.0   |nan           |
|Iran                           |IRI |79109272.0|nan           |
|Aruba*                         |ARU |103889.0  |nan           |
|Cuba                           |CUB |11389562.0|nan           |
+-------------------------------+----+----------+--------------+
only showing top 20 rows

+------------------------+----------------+
|Country                 |Renta per capita|
+------------------------+----------------+
|Burundi                 |277.0683        |
|Central African Republic|323.20166       |
|Niger                   |358.95816       |
|Malawi                  |371.98575       |
|Madagascar              |401.836         |
|Liberia                 |455.87393       |
|Congo, Dem Rep          |456.05273       |
|Gambia                  |471.5372        |
|Mozambique              |529.24255       |
|Guinea                  |531.3206        |
|Somalia                 |549.26697       |
|Togo                    |559.63586       |
|Guinea-Bissau           |572.9884        |
|Burkina Faso            |589.7744        |
|Afghanistan             |594.32306       |
|Ethiopia                |619.16943       |
|Sierra Leone            |653.13184       |
|Rwanda                  |697.3482        |
|Uganda                  |705.29254       |
|Comoros                 |717.44885       |
+------------------------+----------------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 17: ORDER BY varios niveles
spark.sql('''SELECT *
              FROM winter
              WHERE Medal="Gold"
              ORDER BY Discipline, Country DESC, Gender, Athlete DESC
''').show(truncate= False)

spark.sql('''SELECT Discipline AS Disciplina, Athlete, Country, Gender
              FROM winter
              WHERE Medal="Gold"
              ORDER BY Disciplina
''').show( truncate= False)

spark.sql('''SELECT Discipline AS Disciplina, Athlete, Country, Gender
              FROM winter
              WHERE Medal="Gold"
              ORDER BY 1, 3, 4, 2
''').show( truncate= False)

+----+-----------+------+-------------+---------------------+-------+------+---------------+-----+
|Year|City       |Sport |Discipline   |Athlete              |Country|Gender|Event          |Medal|
+----+-----------+------+-------------+---------------------+-------+------+---------------+-----+
|1994|Lillehammer|Skiing|Alpine Skiing|MOE, Thomas          |USA    |Men   |Downhill       |Gold |
|2010|Vancouver  |Skiing|Alpine Skiing|MILLER, Bode         |USA    |Men   |Super Combined |Gold |
|1984|Sarajevo   |Skiing|Alpine Skiing|MAHRE, Phillip       |USA    |Men   |Slalom         |Gold |
|2006|Turin      |Skiing|Alpine Skiing|LIGETY, Ted          |USA    |Men   |Alpine Combined|Gold |
|2014|Sochi      |Skiing|Alpine Skiing|LIGETY, Ted          |USA    |Men   |Giant Slalom   |Gold |
|1984|Sarajevo   |Skiing|Alpine Skiing|JOHNSON, William     |USA    |Men   |Downhill       |Gold |
|2010|Vancouver  |Skiing|Alpine Skiing|VONN, Lindsey        |USA    |Women |Downhill       |Gold |
|1998|Nagano     |Skiing|Alpine Skiing|STREET, Picabo       |USA    |Women |Super-G        |Gold |
|2014|Sochi      |Skiing|Alpine Skiing|SHIFFRIN, Mikaela    |USA    |Women |Slalom         |Gold |
|1994|Lillehammer|Skiing|Alpine Skiing|ROFFE, Diann         |USA    |Women |Super-G        |Gold |
|1952|Oslo       |Skiing|Alpine Skiing|MEAD LAWRENCE, Andrea|USA    |Women |Giant Slalom   |Gold |
|1952|Oslo       |Skiing|Alpine Skiing|MEAD LAWRENCE, Andrea|USA    |Women |Slalom         |Gold |
|2006|Turin      |Skiing|Alpine Skiing|MANCUSO, Julia       |USA    |Women |Giant Slalom   |Gold |
|1948|St.Moritz  |Skiing|Alpine Skiing|FRASER, Gretchen     |USA    |Women |Slalom         |Gold |
|1972|Sapporo    |Skiing|Alpine Skiing|COCHRAN, Barbara     |USA    |Women |Slalom         |Gold |
|1984|Sarajevo   |Skiing|Alpine Skiing|ARMSTRONG, Debbie    |USA    |Women |Giant Slalom   |Gold |
|1980|Lake Placid|Skiing|Alpine Skiing|STENMARK, Ingemar    |SWE    |Men   |Giant Slalom   |Gold |
|1980|Lake Placid|Skiing|Alpine Skiing|STENMARK, Ingemar    |SWE    |Men   |Slalom         |Gold |
|1994|Lillehammer|Skiing|Alpine Skiing|WIBERG, Pernilla     |SWE    |Women |Alpine Combined|Gold |
|1992|Albertville|Skiing|Alpine Skiing|WIBERG, Pernilla     |SWE    |Women |Giant Slalom   |Gold |
+----+-----------+------+-------------+---------------------+-------+------+---------------+-----+
only showing top 20 rows

+-------------+------------------------+-------+------+
|Disciplina   |Athlete                 |Country|Gender|
+-------------+------------------------+-------+------+
|Alpine Skiing|AAMODT, Kjetil Andre    |NOR    |Men   |
|Alpine Skiing|DEFAGO, Didier          |SUI    |Men   |
|Alpine Skiing|KOSTELIC, Janica        |CRO    |Women |
|Alpine Skiing|WASMEIER, Markus        |GER    |Men   |
|Alpine Skiing|STROBL, Fritz           |AUT    |Men   |
|Alpine Skiing|SCHNEIDER, Vreni        |SUI    |Women |
|Alpine Skiing|MONTILLET-CARLES, Carole|FRA    |Women |
|Alpine Skiing|CRETIER, Jean-Luc       |FRA    |Men   |
|Alpine Skiing|EBERHARTER, Stephan     |AUT    |Men   |
|Alpine Skiing|MAIER, Hermann          |AUT    |Men   |
|Alpine Skiing|KOSTELIC, Janica        |CRO    |Women |
|Alpine Skiing|BURAAS, Hans-Petter     |NOR    |Men   |
|Alpine Skiing|VIDAL, Jean-Pierre      |FRA    |Men   |
|Alpine Skiing|MAIER, Hermann          |AUT    |Men   |
|Alpine Skiing|KOSTELIC, Janica        |CRO    |Women |
|Alpine Skiing|LIGETY, Ted             |USA    |Men   |
|Alpine Skiing|KOSTELIC, Janica        |CRO    |Women |
|Alpine Skiing|REITER, Mario           |AUT    |Men   |
|Alpine Skiing|DENERIAZ, Antoine       |FRA    |Men   |
|Alpine Skiing|SEIZINGER, Katja        |GER    |Women |
+-------------+------------------------+-------+------+
only showing top 20 rows

+-------------+---------------------+-------+------+
|Disciplina   |Athlete              |Country|Gender|
+-------------+---------------------+-------+------+
|Alpine Skiing|EBERHARTER, Stephan  |AUT    |Men   |
|Alpine Skiing|HINTERSEER, Ernst    |AUT    |Men   |
|Alpine Skiing|KLAMMER, Franz       |AUT    |Men   |
|Alpine Skiing|MAIER, Hermann       |AUT    |Men   |
|Alpine Skiing|MAIER, Hermann       |AUT    |Men   |
|Alpine Skiing|MATT, Mario          |AUT    |Men   |
|Alpine Skiing|MAYER, Matthias      |AUT    |Men   |
|Alpine Skiing|ORTLIEB, Patrick     |AUT    |Men   |
|Alpine Skiing|RAICH, Benjamin      |AUT    |Men   |
|Alpine Skiing|RAICH, Benjamin      |AUT    |Men   |
|Alpine Skiing|REITER, Mario        |AUT    |Men   |
|Alpine Skiing|SAILER, Anton        |AUT    |Men   |
|Alpine Skiing|SAILER, Anton        |AUT    |Men   |
|Alpine Skiing|SAILER, Anton        |AUT    |Men   |
|Alpine Skiing|SCHNEIDER, Othmar    |AUT    |Men   |
|Alpine Skiing|STANGASSINGER, Thomas|AUT    |Men   |
|Alpine Skiing|STIEGLER, Josef      |AUT    |Men   |
|Alpine Skiing|STOCK, Leonhard      |AUT    |Men   |
|Alpine Skiing|STROBL, Fritz        |AUT    |Men   |
|Alpine Skiing|STROLZ, Hubert       |AUT    |Men   |
+-------------+---------------------+-------+------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 17: ORDER BY varios niveles
spark.sql('''SELECT Athlete AS Atleta, Country, Medal
              FROM winter
              WHERE Medal="Gold"
              ORDER BY Atleta
''').show(truncate= False)

spark.sql('''SELECT Code, CAST (Population AS INT)
              FROM dictionary
              WHERE Population <= 2000000
''').show(truncate= False)

+--------------------+-------+-----+
|Atleta              |Country|Medal|
+--------------------+-------+-----+
|AAMODT, Kjetil Andre|NOR    |Gold |
|AAMODT, Kjetil Andre|NOR    |Gold |
|AAMODT, Kjetil Andre|NOR    |Gold |
|AAMODT, Kjetil Andre|NOR    |Gold |
|AAS, Roald          |NOR    |Gold |
|ABE, Masashi        |JPN    |Gold |
|ABEL, George Gordon |CAN    |Gold |
|ACKLIN, Donat       |SUI    |Gold |
|ACKLIN, Donat       |SUI    |Gold |
|ADAM, Mike          |CAN    |Gold |
|AGOSTA, Meghan      |CAN    |Gold |
|AGOSTA, Meghan      |CAN    |Gold |
|AGOSTA, Meghan      |CAN    |Gold |
|AHN, Hyun-Soo       |KOR    |Gold |
|AHN, Hyun-Soo       |KOR    |Gold |
|AHN, Hyun-Soo       |KOR    |Gold |
|AIKMAN, T.          |GBR    |Gold |
|AKHATOVA, Albina    |RUS    |Gold |
|ALATALO, Toimi      |FIN    |Gold |
|ALBARELLO, Marco    |ITA    |Gold |
+--------------------+-------+-----+
only showing top 20 rows

+----+----------+
|Code|Population|
+----+----------+
|ASA |55538     |
|AND |70473     |
|ANT |91818     |
|ARU |103889    |
|BAH |388019    |
|BRN |1377237   |
|BAR |284215    |
|BIZ |359287    |
|BER |65235     |
|BHU |774830    |
|IVB |30117     |
|BRU |423188    |
|CPV |520502    |
|CAY |59967     |
|COM |788474    |
|CYP |1165300   |
|DJI |887861    |
|DMA |72680     |
|TLS |1245015   |
|GEQ |845060    |
+----+----------+
only showing top 20 rows

In [ ]:
# Ejemplos de clase 17: ORDER BY varios niveles
spark.sql('''SELECT Athlete AS Atleta, Country, Year, City
              FROM winter
              WHERE Medal="Gold" AND Country IN (SELECT Code
                                                FROM dictionary
                                                WHERE Population <= 2000000)
              ORDER BY Year
''').show(truncate= False)

+----------------+-------+----+--------------+
|Atleta          |Country|Year|City          |
+----------------+-------+----+--------------+
|WENZEL, Hanni   |LIE    |1980|Lake Placid   |
|WENZEL, Hanni   |LIE    |1980|Lake Placid   |
|VEERPALU, Andrus|EST    |2002|Salt Lake City|
|SMIGUN, Kristina|EST    |2006|Turin         |
|VEERPALU, Andrus|EST    |2006|Turin         |
|SMIGUN, Kristina|EST    |2006|Turin         |
+----------------+-------+----+--------------+

### Resources

[Pyspark Operations](https://hendra-herviawan.github.io/)

[Spark SQL string Functions](https://sparkbyexamples.com/spark/usage-of-spark-sql-string-functions/)

[Pyspark From Pandas](https://databricks.com/session/data-wrangling-with-pyspark-for-data-scientists-who-know-pandas)